<!-- Category Section Start -->
<section class="category-section-3">
  <div class="container-fluid-lg">
      <div class="title">
          <h2>Shop By Categories</h2>
      </div>
      <div class="row">
          <div class="col-12">
              <div class="category-slider-1 arrow-slider wow fadeInUp">
                  <div>
                      <div class="category-box-list">
                          <a href="shop-left-sidebar.html" class="category-name">
                              <h4>Fashion</h4>
                              <h6>25 items</h6>
                          </a>
                          <div class="category-box-view">
                              <a href="shop-left-sidebar.html">
                                  <img src="../assets/images/grocery/category/1.png"
                                      class="img-fluid blur-up lazyload" alt="">
                              </a>
                              <button onclick="location.href = 'shop-left-sidebar.html';" class="btn shop-button">
                                  <span>Shop Now</span>
                                  <i class="fas fa-angle-right"></i>
                              </button>
                          </div>
                      </div>
                  </div>

                  <div>
                      <div class="category-box-list">
                          <a href="shop-left-sidebar.html" class="category-name">
                              <h4>Beauty</h4>
                              <h6>20 items</h6>
                          </a>
                          <div class="category-box-view">
                              <a href="shop-left-sidebar.html">
                                  <img src="../assets/images/grocery/category/2.png"
                                      class="img-fluid blur-up lazyload" alt="">
                              </a>
                              <button onclick="location.href = 'shop-left-sidebar.html';" class="btn shop-button">
                                  <span>Shop Now</span>
                                  <i class="fas fa-angle-right"></i>
                              </button>
                          </div>
                      </div>
                  </div>

                  <div>
                      <div class="category-box-list">
                          <a href="shop-left-sidebar.html" class="category-name">
                              <h4>Accessories</h4>
                              <h6>14 items</h6>
                          </a>
                          <div class="category-box-view">
                              <a href="shop-left-sidebar.html">
                                  <img src="../assets/images/grocery/category/3.png"
                                      class="img-fluid blur-up lazyload" alt="">
                              </a>
                              <button onclick="location.href = 'shop-left-sidebar.html';" class="btn shop-button">
                                  <span>Shop Now</span>
                                  <i class="fas fa-angle-right"></i>
                              </button>
                          </div>
                      </div>
                  </div>

                  <div>
                      <div class="category-box-list">
                          <a href="shop-left-sidebar.html" class="category-name">
                              <h4>Health</h4>
                              <h6>43 items</h6>
                          </a>
                          <div class="category-box-view">
                              <a href="shop-left-sidebar.html">
                                  <img src="../assets/images/grocery/category/4.png"
                                      class="img-fluid blur-up lazyload" alt="">
                              </a>
                              <button onclick="location.href = 'shop-left-sidebar.html';" class="btn shop-button">
                                  <span>Shop Now</span>
                                  <i class="fas fa-angle-right"></i>
                              </button>
                          </div>
                      </div>
                  </div>

                  <div>
                      <div class="category-box-list">
                          <a href="shop-left-sidebar.html" class="category-name">
                              <h4>Stationery</h4>
                              <h6>23 items</h6>
                          </a>
                          <div class="category-box-view">
                              <a href="shop-left-sidebar.html">
                                  <img src="../assets/images/grocery/category/5.png"
                                      class="img-fluid blur-up lazyload" alt="">
                              </a>
                              <button onclick="location.href = 'shop-left-sidebar.html';" class="btn shop-button">
                                  <span>Shop Now</span>
                                  <i class="fas fa-angle-right"></i>
                              </button>
                          </div>
                      </div>
                  </div>

                  <div>
                      <div class="category-box-list">
                          <a href="shop-left-sidebar.html" class="category-name">
                              <h4>Baby care</h4>
                              <h6>54 items</h6>
                          </a>
                          <div class="category-box-view">
                              <a href="shop-left-sidebar.html">
                                  <img src="../assets/images/grocery/category/6.png"
                                      class="img-fluid blur-up lazyload" alt="">
                              </a>
                              <button onclick="location.href = 'shop-left-sidebar.html';" class="btn shop-button">
                                  <span>Shop Now</span>
                                  <i class="fas fa-angle-right"></i>
                              </button>
                          </div>
                      </div>
                  </div>

                  <div>
                      <div class="category-box-list">
                          <a href="shop-left-sidebar.html" class="category-name">
                              <h4>Electronics</h4>
                              <h6>32 items</h6>
                          </a>
                          <div class="category-box-view">
                              <a href="shop-left-sidebar.html">
                                  <img src="../assets/images/grocery/category/7.png"
                                      class="img-fluid blur-up lazyload" alt="">
                              </a>
                              <button onclick="location.href = 'shop-left-sidebar.html';" class="btn shop-button">
                                  <span>Shop Now</span>
                                  <i class="fas fa-angle-right"></i>
                              </button>
                          </div>
                      </div>
                  </div>

                  <div>
                      <div class="category-box-list">
                          <a href="shop-left-sidebar.html" class="category-name">
                              <h4>Sports</h4>
                              <h6>29 items</h6>
                          </a>
                          <div class="category-box-view">
                              <a href="shop-left-sidebar.html">
                                  <img src="../assets/images/grocery/category/8.png"
                                      class="img-fluid blur-up lazyload" alt="">
                              </a>
                              <button onclick="location.href = 'shop-left-sidebar.html';" class="btn shop-button">
                                  <span>Shop Now</span>
                                  <i class="fas fa-angle-right"></i>
                              </button>
                          </div>
                      </div>
                  </div>

                  <div>
                      <div class="category-box-list">
                          <a href="shop-left-sidebar.html" class="category-name">
                              <h4>Fashion</h4>
                              <h6>25 items</h6>
                          </a>
                          <div class="category-box-view">
                              <a href="shop-left-sidebar.html">
                                  <img src="../assets/images/grocery/category/1.png"
                                      class="img-fluid blur-up lazyload" alt="">
                              </a>
                              <button onclick="location.href = 'shop-left-sidebar.html';" class="btn shop-button">
                                  <span>Shop Now</span>
                                  <i class="fas fa-angle-right"></i>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Category Section End -->
