<section>
  <div class="container-fluid-lg">
      <div class="title">
          <h2>Best Value</h2>
      </div>
      <div class="row">
          <div class="col-12">
              <div class="three-slider arrow-slider ratio_65">
                  <div>
                      <div class="offer-banner hover-effect">
                          <img src="../assets/images/veg-3/value/1.png" class="img-fluid bg-img blur-up lazyload"
                              alt="">
                          <div class="banner-detail">
                              <h5 class="theme-color">Buy more, Save more</h5>
                              <h6>Fresh Vegetable</h6>
                          </div>
                          <div class="offer-box">
                              <button onclick="location.href = 'shop-left-sidebar.html';"
                                  class="btn-category btn theme-bg-color text-white">View Offer</button>
                          </div>
                      </div>
                  </div>

                  <div>
                      <div class="offer-banner hover-effect">
                          <img src="../assets/images/veg-3/value/2.png" class="img-fluid bg-img blur-up lazyload"
                              alt="">
                          <div class="banner-detail">
                              <h5 class="theme-color">Save More!</h5>
                              <h6>Organic Vegetable</h6>
                          </div>
                          <div class="offer-box">
                              <button onclick="location.href = 'shop-left-sidebar.html';"
                                  class="btn-category btn theme-bg-color text-white">View Offer</button>
                          </div>
                      </div>
                  </div>

                  <div>
                      <div class="offer-banner hover-effect">
                          <img src="../assets/images/veg-3/value/3.png" class="img-fluid bg-img blur-up lazyload"
                              alt="">
                          <div class="banner-detail">
                              <h5 class="theme-color">Hot Deals!</h5>
                              <h6>Fruit & Vegetables</h6>
                          </div>
                          <div class="offer-box">
                              <button onclick="location.href = 'shop-left-sidebar.html';"
                                  class="btn-category btn theme-bg-color text-white">View Offer</button>
                          </div>
                      </div>
                  </div>

                  <div>
                      <div class="offer-banner hover-effect">
                          <img src="../assets/images/veg-3/value/1.png" class="img-fluid bg-img blur-up lazyload"
                              alt="">
                          <div class="banner-detail">
                              <h5 class="theme-color">Buy more, Save more</h5>
                              <h6>Fruit & Vegetables</h6>
                          </div>
                          <div class="offer-box">
                              <button onclick="location.href = 'shop-left-sidebar.html';"
                                  class="btn-category btn theme-bg-color text-white">View
                                  Offer</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Value Section End -->
