<!-- Home Section Start -->
<section class="home-section home-section-ratio pt-2">
  <div class="container-fluid-lg">
      <div class="row g-4">
          <div class="col-xxl-3 col-lg-4 col-sm-6 ratio_180 d-sm-block d-none">
              <div class="home-contain rounded">
                  <div class="h-100">
                      <img src="../assets/images/cake/banner/1.jpg" class="bg-img blur-up lazyload" alt="">
                  </div>
                  <div class="home-detail p-top-left home-p-medium">
                      <div>
                          <h6 class="text-danger mb-2 fw-bold">Fresh & Delicious</h6>
                          <h2 class="theme-color fw-bold">Fresh Bread</h2>
                          <p class="text-content d-md-block d-none">Bento box burritos cherry bomb pepper dark and
                              stormy with ginger..</p>
                          <a href="shop-left-sidebar.html" class="shop-button">Shop Now <i
                                  class="fa-solid fa-right-long ms-2"></i></a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-xxl-6 col-lg-8 order-xxl-0 ratio_87">
              <div class="home-contain rounded">
                  <div class="h-100">
                      <img src="../assets/images/cake/banner/2.jpg" class="bg-img blur-up lazyload" alt="">
                  </div>
                  <div class="home-detail p-center-left home-p-sm">
                      <div>
                          <h6>Exclusive offer <span>30% Off</span></h6>
                          <h1 class="w-75 text-uppercase name-title poster-2 my-2">
                              we'll make <span class="name">handmade</span> your
                              <span class="name-2">sweet</span>
                          </h1>
                          <p class="w-50">Earl grey latte Thai basil curry grains alfalfa sprouts banana bread
                              ginger carrot...</p>
                          <button onclick="location.href = 'shop-left-sidebar.html';"
                              class="btn text-white mt-xxl-4 mt-2 home-button mend-auto theme-bg-color">
                              Shop Now <i class="fa-solid fa-right-long icon ms-2"></i></button>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-xxl-3 col-xl-4 col-sm-6 ratio_180 custom-ratio d-xxl-block d-lg-none d-sm-block d-none">
              <div class="home-contain rounded">
                  <img src="../assets/images/cake/banner/3.jpg" class="bg-img blur-up lazyload" alt="">
                  <div class="home-detail p-top-left home-p-medium">
                      <div>
                          <h6 class="text-danger mb-2 fw-bold">Fresh & Delicious</h6>
                          <h2 class="theme-color fw-bold">Bakery Sweet</h2>
                          <p class="text-content d-md-block d-none">Peanut butter crunch chia seeds red parsley
                              basil overflowing..</p>
                          <a href="shop-left-sidebar.html" class="shop-button">Shop Now <i
                                  class="fa-solid fa-right-long ms-2"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Home Section End -->
